"""
URL configuration for {{ project_name }} project.

The `urlpatterns` list routes URLs to views. For more information please see:
    https://docs.djangoproject.com/en/{{ django_version }}/topics/http/urls/
"""
from django.contrib import admin
from django.urls import path, include
from django.conf import settings
from django.conf.urls.static import static

urlpatterns = [
    path('admin/', admin.site.urls),
    {% if features.api.rest_framework %}
    # API URLs
    path('api/', include('api.urls')),
    path('api-auth/', include('rest_framework.urls')),
    {% endif %}
    {% if features.api.graphql %}
    # GraphQL
    path('graphql/', include('graphql.urls')),
    {% endif %}

    # App URLs
    {% for app in apps %}
    path('{{ app.name }}/', include('apps.{{ app.name }}.urls')),
    {% endfor %}
]

{% if features.api.rest_framework %}
# API Documentation
from drf_spectacular.views import SpectacularAPIView, SpectacularSwaggerView, SpectacularRedocView

urlpatterns += [
    path('api/schema/', SpectacularAPIView.as_view(), name='schema'),
    path('api/swagger/', SpectacularSwaggerView.as_view(url_name='schema'), name='swagger-ui'),
    path('api/redoc/', SpectacularRedocView.as_view(url_name='schema'), name='redoc'),
]
{% endif %}

# Serve media files in development
if settings.DEBUG:
    urlpatterns += static(settings.MEDIA_URL, document_root=settings.MEDIA_ROOT)
    urlpatterns += static(settings.STATIC_URL, document_root=settings.STATIC_ROOT)

    {% if features.deployment.docker %}
    # Debug toolbar for development
    import debug_toolbar
    urlpatterns = [
                      path('__debug__/', include(debug_toolbar.urls)),
                  ] + urlpatterns
{% endif %}